.barraNavegacion {
    background-color: #B3005E !important;
    border-radius: 1rem;
}

.imgFooter {
    width: 50px;
}

.contact {
    align-content: center;
}

.d-flex {
    justify-content: center;
}

.checkbox {
    justify-content: space-between;
}

.card-img-top {
    height: 160px;
    object-fit: cover;
}

.card-body {
    align-content: space-between;
}

.cardDetails {}

.imgDetails {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
}

body {
    font-family: cursive;
    color: white;
    background-color: #060047;
}

nav {
    background-color: #060047;
}

h1 {
    color: white;
}

main {
    background-color: #E90064;
    border-radius: 1rem;
}

.mainContainer {
    padding: 0%;
}

.card {
    background-color: #FF5F9E;
}

.footer {
    background-color: #060047;
}

.a-footer {
    display: flex !important;
}

.p-footer {
    padding-right: 3rem !important;
}

.mensagge {
    height: 200px !important;
}

.table {
    margin-bottom: 0%;
}

@media screen and (max-width:768px) {}