.text-bg-light {
    background-color: #AEE2FF !important;
    height: 15vh;
}

.imgFooter {
    width: 70px;
}

.contact {
    align-content: center;
}

.d-flex {
    justify-content: center;
}

.checkbox {
    display: flex!important;
    justify-content: space-evenly!important; 
}

.cardDetails {
    height: 65vh;
}